*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    background-color: #278d84;
    color: #331a1a;
}
header {
    background-color: #406a41;
    color: white;
    text-align: center;
    padding: 1rem;
}
header h1{
    font-size: 2.5rem;
}
header p {
    font-size: 1.2rem;
}
section {
    padding: 2rem;
    margin: 1rem 0;
}
button {
    background-color: #406a41;
    color: white;
    border: none;
    padding: 0.8rem 0.8rem;
    font-size: 1.2rem;
    cursor: pointer;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3 ease;
    text-align: center;
}
button a {
    color: white;
    text-decoration: double;
}
button:hover {
    background-color: #406a41;
}
.featured {
    width: auto;
    max-width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 25, 0.2);
}
.dijatado {
    width: auto;
    max-width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 25, 0.2);
}
.galléria-felület {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
}
.galléria-felület img {
    width: 400px;
    height: 450px;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 25, 0.2);
    margin: 0.5rem;
    display: block;
}
#benefits ul {
    list-style-type: disc;
    margin-left: 2rem;
}
form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
input, textarea, button {
    width: 100%;
    padding: 0.8rem;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid #ccc;
}
footer {
    background-color: #278d84;
    color: white;
    text-align: center;
    padding: 1rem;
}
footer a {
    color: #406a41;
    text-decoration: none;
}